.modal {
  position: absolute;
  max-width: 720px;
  width: 100%;
  border-radius: 40px;
  background-color: #1C1C21;
  z-index: 3;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modalContainer {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}