.nutritionLabels {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.name {
  text-align: center;
}

.text {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
}