body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: 8px;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
